.signInMainContainer{
    .rightBox{
        .signUpform{
            width: 50%;
        }
    }
    .forgotPassLink{
        height: fit-content;
    }
}
.base-container{
    
    background-repeat: no-repeat;
    background-size: cover ;
}